
.right {
  width: 100%;
  padding: 10px;
  background-color: #f5f5f5;
  z-index: -2;
}
.right-heading {
  padding: 8px 0px;
  border-bottom: 2px solid lightgray;
}
.heading-label {
  font-size: 24px;
  font-weight: 500;
  margin-left:10px;
}
.right-options {
  display: flex;
  justify-content: space-between;
  margin: 16px 0px;
}





.products-list {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: flex-start;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

  
  .product-card {
    margin:  6px 20px; 
    display: flex;
   
    
  }
  