/*.product-card {
    background-color: white;
    width: 28%;
    height: 120px;
    margin: 16px 8px;
    padding: 16px;
    border-radius: 8px;
  }
  */
  .product-card {
    margin:  8px 20px; 
  }