
.A {
  width: 100%;
  padding: 10px;
 height: 100%;
  
}
.right-heading {
  padding: 8px 0px;
  border-bottom: 2px solid lightgray;
}
.heading-label {
  font-size: 24px;
  font-weight: 500;
  margin-left:10px;
}
.right-options {
  display: flex;
  justify-content: space-between;
  margin: 16px 0px;
}

